{% extends "base.html" %}

{% load static %}


{% block seo %}
    <title>Giriş</title>
{% endblock %}

 {% block content %}
 {% load crispy_forms_tags %}

<br>
<br>

<div class="small-header bg-img-custom" style="background-image: url('{% static 'banner3.jpg' %}');">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h2>Ödeme Bilgileri</h2>
          </div>
        </div>
      </div>
    </div>

<section class="myaccount-section">
            <div class="auto-container">
                <div class="row clearfix">
                    <div class="col-lg-6 col-md-12 col-sm-12 inner-column">
                        <div class="inner-box login-inner">
                            <div class="upper-inner">
                                <h3>Kullanıcı Girişi</h3>
                            </div>
                            <form method="post" class="default-form">
                                {% csrf_token %}
                                <div class="form-group">
                                    {{ form.username|as_crispy_field }}
                                </div>
                                <div class="form-group">
                                    {{ form.password|as_crispy_field }}
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="theme-btn-two">Giriş<i class="flaticon-right-1"></i></button>
                                </div>
                            </form>
                            <a href="/user/register/">Hemen Üye ol</a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 inner-column">
                        <div class="signup-inner">
                            <img src="{% static '1.png' %}" width="500">
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}
